#GameMenu
    {
    list-style-type: none;
    }

#GameMenu > *
    {
    display: inline-block;
    }

.button
    {
    cursor: pointer;
    }

#HighScore > *
    {
    display: inline-block;
    min-width: 100px;
    text-align: center;
    padding: 0 5px;
    }

#Menu
    {
    display: none;
    }