body
    {
    background-color: rgb(250, 250, 250);
    }

ul
    {
    list-style-type: none;
    }

h4
    {
    color: #495edb;
    }

.button
    {
    cursor: pointer;
    color: black;
    background-color: rgba(255, 197, 103, 0.62);
    padding: 0 10px;
    }

.button:hover
    {
    background-color: rgba(255, 233, 148, 0.82);
    }

.value
    {
    color: #495edb;
    font-weight: bold;
    }

#MainCanvas
    {
    margin: auto;
    padding: 0;
    display: block;
    }

#Help
    {
    display: none;
    text-align: center;
    }

#Help.show
    {
    display: block;
    }

#HelpStartGame
    {
    display: inline-block;
    }

    /* Menu */

#Menu
    {
    display: none;
    text-align: center;
    }

#GameMenu
    {
    list-style-type: none;
    padding: 0;
    }

#GameMenu > *
    {
    display: inline-block;
    margin: 0 10px;
    }

#HighScore > *
    {
    display: inline-block;
    min-width: 100px;
    text-align: center;
    padding: 0 5px;
    }

#HighScore > .value:nth-child(odd)
    {
    color: #db4060;
    }
